.boardGrid {
  background-color: #2774f8;
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.boardRow {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.circle {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 2px;
}

.circle:hover {
  background-color: grey;
  cursor: pointer;
}

.free {
  background-color: white;
}

.red {
  background-color: red;
}

.red:hover {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.yellow:hover {
  background-color: yellow;
}

.newGameButton {
  background-color: #2774f8;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  margin-top: 5px;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.newGameButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .boardGrid {
    width: 80%;
  }

  .circle {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .boardGrid {
    width: 70%;
  }

  .circle {
    width: 30px;
    height: 30px;
  }
}
